/* Estilos Globales para Museo */
.archival-grain {
    background-image: url("https://www.transparenttextures.com/patterns/p6.png");
    background-blend-mode: overlay;
}
.parchment-texture {
    background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
    background-blend-mode: multiply;
}

/* Ajustes para el panel de detalle */
#panel-lateral-detalle {
    position: fixed;
    right: -450px;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 50;
    transition: right 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    background: #121414;
    border-left: 1px solid #45474b;
}

#panel-lateral-detalle.panel-abierto {
    right: 0;
}